@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin: 50px 200px 0 200px;
}

/* NAVBAR */

.navbar{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgb(166, 244, 250) 0%, rgb(13, 158, 255) 43%, rgb(0, 135, 198) 100%);
  height: 70px;
  align-items: center;
}

.navbar a{   
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-right: 60px;
  transition: .6s;
}

.navbar p{
  margin-left: 20px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.navbar a:hover{   
  color: black;
}

/* BUTTON */

.buttons{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.buttons .button{
  margin: 0 10px;
}

/* FORM */

form{
  width: 30%;
  border: 1px rgba(128, 128, 128, 0.637) solid;
  border-radius: 10px;
  padding: 10px;
}

.user-form{
  display: flex;
  justify-content: center;
}
